@model Entities.Concrete.About

<h4>About</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AboutID" class="control-label"></label>
                <input asp-for="AboutID" class="form-control" />
                <span asp-validation-for="AboutID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutDetails1" class="control-label"></label>
                <input asp-for="AboutDetails1" class="form-control" />
                <span asp-validation-for="AboutDetails1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutDetails2" class="control-label"></label>
                <input asp-for="AboutDetails2" class="form-control" />
                <span asp-validation-for="AboutDetails2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutImage1" class="control-label"></label>
                <input asp-for="AboutImage1" class="form-control" />
                <span asp-validation-for="AboutImage1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutImage2" class="control-label"></label>
                <input asp-for="AboutImage2" class="form-control" />
                <span asp-validation-for="AboutImage2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutMapLocation" class="control-label"></label>
                <input asp-for="AboutMapLocation" class="form-control" />
                <span asp-validation-for="AboutMapLocation" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AboutStatus" /> @Html.DisplayNameFor(model => model.AboutStatus)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


