@model List<Team>
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Lig Id</th>
            <th>Takım Id</th>
            <th>Takım Adı</th>
            <th>Detaylar</th>
            <th>Sil</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LeagueId</td><!--TEAM/INDEX-->
                <td>@item.TeamId</td>
                <td>@item.TeamName</td>
                <td><a href="#" class="btn btn-warning">Detaylar</a></td>
                <td><a href="/Team/Delete/@item.TeamId" class="btn btn-danger">Sil</a></td>
            </tr>
        }
    </table>
</div>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))