@model Entities.DTOs.UserForLoginDto
@{
    ViewData["Title"] = "Index";
}

<section class="main-content-w3layouts-agileits">
    <div class="container ">
        <h3 class="tittle" style="color:#01cd73">Giriş Sayfası</h3>
        <div class="inner-sec">
            <div class="p-5 bg-light">

                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {

                    <div class="form-row d-flex justify-content-center container">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Mail</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })

                            <label for="exampleInputPassword2 mb-2">Şifre</label>
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })

                            @*<button type="submit" class="btn btn-primary submit mb-4">Giriş Yap</button>
                                <a href="/Team/Index/" class="btn btnprimary">Giriş Yap</a>*@
                            <br>
                            <input type="submit" class="btn btn-primary" value="Giriş Yap" />
                            <a href="/Team/Index/" class="btn btn-outline-success">Anasayfaya Dön</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>